.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./assets/images/registration-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content{
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  height: auto;
}